<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>learning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div class="personal__wrapper">
		<div class="personal__avatar">
			<img src="data:image/jpeg;base64,{{avatar}}" alt="none">
			<form class="form__avatar" enctype="multipart/form-data" method="POST" action="updateAvatar"> 
				<input type="file" name="avatar">
				<button>Загрузить</button>
			</form>
		</div>
		<form class="form__entries" method="POST" action="loginEntries">
			<select name='event'>
				{% for item in events %}
					<option value='{{item.id}}'>{{item.description}}| {{item.dateofevent}}</option>
				
				{% endfor %}	
			</select>
			<button>Записаться</button>
		</form>
		<form action="../logout"><button>Выйти</button></form>
	</div>

	<div class="events__wrapper">
		<table border="1">
			<thead>
				<tr>
					<th width="300px">
						Мероприятие
					</th>
					<th width="150px">
						Дата
					</th>
					
				</tr>
			</thead>
			<tbody>
				{% for item in entries%}
				<tr>
					<td>{{item.description}}</td>
					<td>{{item.dateofevent}}</td>
					<td>
						
						<a href="logoutEntries/{{item.event_id}}" style="text-decoration: none;">&#10060;</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if session['isAdmin'] %}
			<div class="admin__wrapper">
				<form class="admin" method="POST" action="addEvent">
					<label>Название мероприятия</label>
					<input type="text" name="eventName">
					<label>Дата мероприятия</label>
					<input type="date" name="eventDate">
					<button>Создать мероприятие</button>
				</form>
			</div>
		{%endif%}
	</div>
</body>
</html>