*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.test__form{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 900px;
}


.personal__wrapper{
	height: 70%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}


.personal__avatar{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.personal__avatar img{
	width: 250px;
	height: 250px;
}


.form__avatar{
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}


.events__wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 70%;
}

.form__entries{
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.admin__wrapper{
	margin-top: 50px;
}

.admin{
/*	width: 50%;*/
	display: flex;
	flex-direction: column;
	gap: 15px;
}